@charset "UTF-8";

/*　　　↓GradeDisplayの表　　　　　*/
table {
 
  text-align: center;
  width: 50%;
}
th, td {
  padding: 10px;
  border: 1px solid #333;
}
th {
  background-color: rgb(0, 128, 255);
  color: #FFF;
}

.grade1{
  width: 15%;
}
.grade2{
  width: 85%;
  
}
.container {
    margin-right: 60%;
}
.item{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*　　　↑GradeDisplayの表　　　　　*/
